.Expense--container {
    display: flex;
    align-items: center;
    justify-content: center;

    .accountBalance{
        font-size: 4em;
    }

    h5{
        opacity: .6;
    }

.react-tabs{

  ul.react-tabs__tab-list{
    padding-left: 0px;
    margin-bottom: 50px;

     li{
         display: inline-block;
         padding: 0px 5px 5px 5px;
         margin: 0px 15px;
         cursor: pointer;

         &.react-tabs__tab--selected{
             border-bottom: 2px solid $violet;

         }
     }
  }


  form.expense-form, form.deposit-form{
      margin-top: 25px;
      min-width: 400px;
  }

}

}